<div class="wikidoc"><b>Project Description</b><br />QR Code encoder library<br /><br />Hi, I moved repository to Github <a href="https://github.com/consulgo/QrCode4cs">https://github.com/consulgo/QrCode4cs</a>. Repository on CodePlex is not maintained anymore.<br />Over there I fixed a few code issues and added sample WPF application.<br /><br />It is simple library for the encoding of the qr codes (qrcode4cs uses only System and System.Collections.Generic). It is a translation of the <b>QRCode for JavaScript</b> <a href="https://github.com/jeromeetienne/jquery-qrcode/">https://github.com/jeromeetienne/jquery-qrcode/</a>. Special thanks to Jerome Etienne for a blog post: <a href="http://notes.jetienne.com/2011/04/07/jquery-qrcode.html">http://notes.jetienne.com/2011/04/07/jquery-qrcode.html</a>.<br /><br />Licensed under the original MIT license: <a href="http://www.opensource.org/licenses/mit-license.php">http://www.opensource.org/licenses/mit-license.php</a><br /><br />Remember:DENSO WAVE INCORPORATED</="http://www.denso-wave.com/qrcode/faqpatent-e.html">http://www.denso-wave.com/qrcode/faqpatent-e.hclass=/div>idkey.


System.Windows.Input.ICommand







